html(lang='en')
    head
        meta(charset='utf-8')
        title hello
        script(src=baseUrl + '/atlassian-connect/all.js')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
        script(src='/static/bundle.js')
    body
        block content
